<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RestClient</display-name>
  
  <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/RestAnnotationSetup.xml,
			/WEB-INF/config/RestControllerSetup.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<description>Handles Incoming request</description>
		<servlet-name>RestClientDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/RestControllerSetup.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RestClientDispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>		
	</servlet-mapping>
	
	
	
	<!--<servlet>
		<description>Handles Restful webservices</description>
		<servlet-name>RestfulDispatcherServlet</servlet-name>
		<servlet-class>org.springgramework.web.servlet.DispatcherServlet</servlet-class>
		 <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/RestfulSetup.xml</param-value>
		</init-param>   
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RestfulDispatcherServlet</servlet-name>
		<url-pattern>/rest/</url-pattern>
	</servlet-mapping> -->
  
  
</web-app>